#include "new_file_dialog.h"
#include <windows.h>

IDD_NEWFILE_DIALOG DIALOGEX 0, 0, 220, 95
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "New File"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT       "Tileset path:", -1, 10, 12, 30, 10
    EDITTEXT    IDC_PATH_EDIT, 40, 10, 120, 12, ES_AUTOHSCROLL
    PUSHBUTTON  "...", IDC_BROWSE_BUTTON, 165, 10, 20, 12

    LTEXT       "Width:", -1, 10, 30, 30, 10
    EDITTEXT    IDC_MAP_WIDTH, 40, 28, 40, 12,
                ES_AUTOHSCROLL | ES_NUMBER

    LTEXT       "Height:", -1, 90, 30, 30, 10
    EDITTEXT    IDC_MAP_HEIGHT, 125, 28, 40, 12,
                ES_AUTOHSCROLL | ES_NUMBER

    DEFPUSHBUTTON "OK", IDOK, 60, 60, 40, 14
    PUSHBUTTON    "Cancel", IDCANCEL, 120, 60, 40, 14
END