#include "new_tileset_dialog.h"
#include <windows.h>

IDD_NEWTILESET_DIALOG DIALOGEX 0, 0, 250, 156
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Create New Tileset"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT       "Name:", IDC_TILESET_LABEL_TILESET_NAME, 10, 12, 40, 10
    EDITTEXT    IDC_TILESET_NAME,
                70, 10, 120, 12,
                ES_AUTOHSCROLL

    LTEXT       "Image:", IDC_TILESET_LABEL_IMAGE_PATH, 10, 34, 40, 10
    EDITTEXT    IDC_TILESET_IMAGE_PATH,
                70, 32, 120, 12,
                ES_AUTOHSCROLL | ES_READONLY

    PUSHBUTTON  "...",
                IDC_TILESET_BROWSE_IMAGE_BUTTON,
                195, 32, 20, 12

    LTEXT       "Tile Width:", IDC_TILESET_LABEL_TILE_WIDTH, 10, 56, 55, 10
    EDITTEXT    IDC_TILESET_TILE_WIDTH,
                70, 54, 30, 12,
                ES_AUTOHSCROLL | ES_NUMBER

    LTEXT       "Tile Height:", IDC_TILESET_LABEL_TILE_HEIGHT, 10, 74, 55, 10
    EDITTEXT    IDC_TILESET_TILE_HEIGHT,
                70, 72, 30, 12,
                ES_AUTOHSCROLL | ES_NUMBER

    AUTOCHECKBOX "Make the new tileset part of a package",
                 IDC_TILESET_INCLUDE_PACKAGE_CHECKBOX,
                 10, 90, 150, 12,
                 WS_TABSTOP

    LTEXT       "Package:", IDC_TILESET_LABEL_PACKAGE, 10, 108, 40, 10
    COMBOBOX    IDC_TILESET_PACKAGE_COMBO,
                60, 106, 120, 80,
                CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    PUSHBUTTON  "New...",
                IDC_TILESET_NEW_PACKAGE_BUTTON,
                185, 106, 40, 14

    DEFPUSHBUTTON "Create",
                   IDOK,
                   70, 126, 50, 14

    PUSHBUTTON    "Cancel",
                   IDCANCEL,
                   130, 126, 50, 14
END