#include "new_file_dialog.h"
#include <windows.h>

IDD_NEWFILE_DIALOG DIALOGEX 0, 0, 220, 95
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "New File"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT       "Tileset path:", -1, 10, 12, 45, 10
    EDITTEXT    IDC_PATH_EDIT, 60, 10, 100, 12, ES_AUTOHSCROLL
    PUSHBUTTON  "...", IDC_BROWSE_BUTTON, 165, 10, 20, 12

    LTEXT       "Grid width:", -1, 10, 32, 45, 10
    EDITTEXT    IDC_MAP_WIDTH, 60, 30, 40, 12,
                ES_AUTOHSCROLL | ES_NUMBER

    LTEXT       "Grid height:", -1, 10, 50, 45, 10
    EDITTEXT    IDC_MAP_HEIGHT, 60, 48, 40, 12,
                ES_AUTOHSCROLL | ES_NUMBER

    DEFPUSHBUTTON "OK", IDOK, 60, 72, 40, 14
    PUSHBUTTON    "Cancel", IDCANCEL, 120, 72, 40, 14
END