#include "settings_dialog.h"
#include <windows.h>
#include <commctrl.h>

#define COMBOBOX_CONTROL_WIDTH 120
#define FILTER_EDIT_WIDTH 100
#define FILTER_LABEL_WIDTH 25

IDD_SETTINGS_GENERAL DIALOGEX SETTINGS_LIST_WIDTH + PAGE_OFFSET_X, PAGE_OFFSET_Y, PAGE_WIDTH, PAGE_HEIGHT
STYLE DS_SETFONT | DS_CONTROL | WS_CHILD
FONT 9, "Segoe UI"

BEGIN
    GROUPBOX        "Startup", IDC_SETTINGS_STARTUP_NAME,
                    5, 05, PAGE_WIDTH - 10, 28

    AUTOCHECKBOX    "Automatically restore last session's opened files",
                    IDC_SETTINGS_RESTORE_SESSION,
                    12, 16, PAGE_WIDTH - 24, 12

    GROUPBOX        "File", IDC_SETTINGS_FILE_NAME,
                    5, 36, PAGE_WIDTH - 10, 28

    LTEXT           "Default Open file type:", IDC_SETTINGS_DEF_OPEN_FILE_TEXT,
                    12, 48, PAGE_WIDTH - COMBOBOX_CONTROL_WIDTH - PAGE_OFFSET_X, 12

    COMBOBOX        IDC_SETTINGS_DEFAULT_FILE_TYPE,
                    PAGE_WIDTH - COMBOBOX_CONTROL_WIDTH - PAGE_OFFSET_X, 46, COMBOBOX_CONTROL_WIDTH, 80,
                    CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL
END

IDD_SETTINGS_SHORTCUTS DIALOGEX SETTINGS_LIST_WIDTH + PAGE_OFFSET_X, PAGE_OFFSET_Y, PAGE_WIDTH, PAGE_HEIGHT
STYLE DS_SETFONT | DS_CONTROL | WS_CHILD
FONT 9, "Segoe UI"

BEGIN
    LTEXT           "Filter:", IDC_SHORTCUT_FILTER_NAME,
                    PAGE_WIDTH - FILTER_EDIT_WIDTH - PAGE_OFFSET_X + 5 - FILTER_LABEL_WIDTH,
                    3,
                    FILTER_LABEL_WIDTH,
                    12
                    
    EDITTEXT        IDC_SHORTCUT_FILTER,
                    PAGE_WIDTH - FILTER_EDIT_WIDTH - PAGE_OFFSET_X + 5,
                    0,
                    FILTER_EDIT_WIDTH,
                    14,
                    ES_AUTOHSCROLL

    CONTROL         "", IDC_SHORTCUT_LIST, WC_LISTVIEW,
                    WS_TABSTOP | WS_BORDER | LVS_REPORT | LVS_SINGLESEL,
                    5, 17, PAGE_WIDTH - PAGE_OFFSET_X - 1, PAGE_HEIGHT - 18
END
