#include "settings_dialog.h"
#include <windows.h>

IDD_SETTINGS DIALOGEX 0, 0, 320, 222
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Settings"
FONT 9, "Segoe UI"
BEGIN
    CONTROL     "", IDC_SETTINGS_LIST, "SysTreeView32",
                WS_TABSTOP | WS_BORDER | TVS_HASLINES |
                TVS_LINESATROOT | TVS_HASBUTTONS |
                TVS_SHOWSELALWAYS,
                5, 5, SETTINGS_LIST_WIDTH, PAGE_HEIGHT

    DEFPUSHBUTTON   "OK", IDOK, 155, 203, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 210, 203, 50, 14
    PUSHBUTTON      "Apply", IDC_APPLY_BUTTON, 265, 203, 50, 14
END