#include "settings_dialog.h"
#include <windows.h>
#include <commctrl.h>

IDD_SETTINGS_GENERAL DIALOGEX SETTINGS_LIST_WIDTH + 10, 0, PAGE_WIDTH, PAGE_HEIGHT
STYLE DS_SETFONT | DS_CONTROL | WS_CHILD
FONT 9, "Segoe UI"
BEGIN
    LTEXT           "General", 0,
                    5, 5, 100, 12
END

IDD_SETTINGS_SHORTCUTS DIALOGEX SETTINGS_LIST_WIDTH + 10, 0, PAGE_WIDTH, PAGE_HEIGHT + 7
STYLE DS_SETFONT | DS_CONTROL | WS_CHILD
FONT 9, "Segoe UI"

BEGIN
    LTEXT           "Filter:", 0,
                    65, 8, 75, 12
                    
    EDITTEXT        IDC_SHORTCUT_FILTER, 85, 5, PAGE_WIDTH - 90, 14,
                    ES_AUTOHSCROLL

    CONTROL         "", IDC_SHORTCUT_LIST, WC_LISTVIEW,
                    WS_TABSTOP | WS_BORDER | LVS_REPORT | LVS_SINGLESEL,
                    5, 22, PAGE_WIDTH - 10, PAGE_HEIGHT - 17
END
